# Comparing notebooks test

I want to be able to easily compare results of running a notebook twice

Create a table

In [2]:
Use tempdb


 ; WITH
  L0   AS (SELECT c FROM (SELECT 1 UNION ALL SELECT 1) AS D(c)), -- 2^1
  L1   AS (SELECT 1 AS c FROM L0 AS A CROSS JOIN L0 AS B),       -- 2^2
  L2   AS (SELECT 1 AS c FROM L1 AS A CROSS JOIN L1 AS B),       -- 2^4
  L3   AS (SELECT 1 AS c FROM L2 AS A CROSS JOIN L2 AS B),       -- 2^8
  L4   AS (SELECT 1 AS c FROM L3 AS A CROSS JOIN L3 AS B),       -- 2^16
  L5   AS (SELECT 1 AS c FROM L4 AS A CROSS JOIN L4 AS B),       -- 2^32
  Nums AS (SELECT ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) AS k FROM L5)

select k as StuffHere , k/2 as JunkHere,  k/4 as DuffStuffHere
 into StuffAndJunk
from nums
where k <= 1000000

 ; WITH
  L0   AS (SELECT c FROM (SELECT 1 UNION ALL SELECT 1) AS D(c)), -- 2^1
  L1   AS (SELECT 1 AS c FROM L0 AS A CROSS JOIN L0 AS B),       -- 2^2
  L2   AS (SELECT 1 AS c FROM L1 AS A CROSS JOIN L1 AS B),       -- 2^4
  L3   AS (SELECT 1 AS c FROM L2 AS A CROSS JOIN L2 AS B),       -- 2^8
  L4   AS (SELECT 1 AS c FROM L3 AS A CROSS JOIN L3 AS B),       -- 2^16
  L5   AS (SELECT 1 AS c FROM L4 AS A CROSS JOIN L4 AS B),       -- 2^32
  Nums AS (SELECT ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) AS k FROM L5)

select k as StuffHere , k/2 as JunkHere,  k/4 as DuffStuffHere
 into OrderedList
from nums
where k <= 1000000

ALTER TABLE [dbo].[OrderedList] ALTER COLUMN StuffHere INT NOT NULL

CREATE UNIQUE CLUSTERED INDEX [OrderList_index] ON [dbo].[OrderedList] -- don't judge I cant be bothered to name things properly
([StuffHere] ASC,[JunkHere],[DuffStuffHere])

Query the table

In [4]:
Use tempdb

SELECT TOP 10 * FROM [dbo].[OrderedList]

StuffHere,JunkHere,DuffStuffHere
1,0,0
2,1,0
3,1,0
4,2,1
5,2,1
6,3,1
7,3,1
8,4,2
9,4,2
10,5,2