# Logins per day from Extended Event session

This will get the logins per day from the Extended Event session created with https://gist.github.com/SQLDBAWithABeard/07091a0a0e07d64933c15a36b102f9db

In [1]:
SELECT CAST(GetDate() AS nvarchar(20)) AS 'Execution Time'

Execution Time
Apr 3 2020 2:41PM

In [2]:
SELECT
    CAST(n.value('(@timestamp)[1]', 'datetime2') AS Date) AS LoginDate,
    n.value('(@timestamp)[1]', 'datetime2') AS [utc_timestamp],
    n.value('(action[@name="session_nt_username"]/value)[1]', 'nvarchar(128)') as nt_username,
    n.value('(action[@name="client_hostname"]/value)[1]', 'nvarchar(128)') as client_hostname
INTO #tempxeresults
from (select cast(event_data as XML) as event_data
from sys.fn_xe_file_target_read_file('MonitorWindowsLogins*.xel', null, null, null)) ed
cross apply ed.event_data.nodes('event') as q(n)

BEGIN TRY
SELECT 
LoginDate
,COUNT(DISTINCT nt_username) AS NumberOfLogins
FROM #tempxeresults 
GROUP BY LoginDate
ORDER BY LoginDate

SELECT 
LoginDate
,nt_username
,COUNT(nt_username) AS NumberOfLogins
FROM #tempxeresults 
GROUP BY LoginDate,nt_username
ORDER BY LoginDate,COUNT(nt_username) DESC

DROP TABLE #tempxeresults
END TRY
BEGIN CATCH

DROP TABLE #tempxeresults
END CATCH

LoginDate,NumberOfLogins
2020-04-02,10
2020-04-03,9

LoginDate,nt_username,NumberOfLogins
2020-04-02,THEBEARD\gsartori,1130
2020-04-02,THEBEARD\gfritchey,218
2020-04-02,THEBEARD\akamman,80
2020-04-02,THEBEARD\clemaire,70
2020-04-02,THEBEARD\smelton,29
2020-04-02,THEBEARD\alevy,24
2020-04-02,THEBEARD\fatherjack,24
2020-04-02,THEBEARD\csilva,22
2020-04-02,THEBEARD\jamrtin,18
2020-04-02,THEBEARD\SQL2017N5$,2
2020-04-03,THEBEARD\gsartori,1961
2020-04-03,THEBEARD\gfritchey,400
2020-04-03,THEBEARD\clemaire,172
2020-04-03,THEBEARD\akamman,170
2020-04-03,THEBEARD\fatherjack,52
2020-04-03,THEBEARD\alevy,36
2020-04-03,THEBEARD\csilva,30
2020-04-03,THEBEARD\smelton,26
2020-04-03,THEBEARD\jamrtin,24