# T-SQL in a SQL Notebook

Now that we can add some PowerShell to our Notebooks, I can show you how to add some T-SQL.

First lets create a container to use for our notebook

I am going to use the dbatools docker images for this. You can read [more about that here](https://dbatools.io/docker/)

I am going to use the docker-compose file from [my DockerStuff repo](https://github.com/SQLDBAWithABeard/DockerStuff/tree/master/dbatools-2-instances-AG) which I have saved locally. This uses a local directory for backup storage.

<a href="command:workbench.action.terminal.sendSequence?%7B%22text%22%3A%22 if(Get-Module PSReadline)%7b Remove-Module PSReadline%7d\u000Aif (-not (%24IsLinux -or %24IsMacOS) ) %7b\u000A     if (-not(Test-Path C:%5c%5c%5c%5cMSSQL%5c%5c%5c%5cBACKUP))\u000A     %7b\u000A         Write-Output \u0027I\u0027\u0027m going to create C:%5c%5c%5c%5cMSSQL%5c%5c%5c%5cBACKUPS so that the docker-compose will work\u0027\u000A         New-Item C:%5c%5cMSSQL1%5c%5cBACKUP1 -ItemType Directory\u000A     %7d    else %7b\u000A         Write-Output \u0027C:%5c%5c%5c%5cMSSQL%5c%5c%5c%5cBACKUPS already exists\u0027 %7d \u000A %7d elseif(-not %24IsMacOS)%7b\u000A     if (-not(Test-Path %2ftmp%2fdocker%2fvolumes%2fdbatools)) \u000A     %7b\u000A         Write-Output \u0027I\u0027\u0027m going to create %2ftmp%2fdocker%2fvolumes%2fdbatools so that the docker-compose will work\u0027\u000A         New-Item %2ftmp%2fdocker%2fvolumes%2fdbatools -ItemType Directory\u000A     %7d    else %7b\u000A         Write-Output \u0027%2ftmp%2fdocker%2fvolumes%2fdbatools already exists\u0027 %7d \u000A %7d else %7b Write-Warning \u0027Sorry This code won\u0027\u0027t run on Mac - You will have to create the folder manually and edit the docker compose file\u0027 \u000A%7d \u000D \u000D %22%7D">This link will create the volumes for the containers to work</a>

<a href="command:workbench.action.terminal.sendSequence?%7B%22text%22%3A%22 if(Get-Module PSReadline)%7b Remove-Module PSReadline%7d\u000Aif (-not (%24IsLinux -or %24IsMacOS) ) %7b\u000A    docker-compose -f dbatools-docker-compose.yml up -d\u000A %7d elseif(-not %24IsMacOS)%7b\u000A    docker-compose -f linux-dbatools-docker-compose.yml up -d\u000A %7d else %7b Write-Warning \u0027Sorry This code won\u0027\u0027t run on Mac - You will have to create the folder manually and edit the docker compose file\u0027 \u000A%7d \u000D \u000D %22%7D">This will run the docker compose and create the containers</a>

![image](https://user-images.githubusercontent.com/6729780/59587466-39003d80-90dd-11e9-8ca7-2c1550cb96cb.png)

# T-SQL

You can add T-SQL Code by clicking on the three elipses in a block

![image](https://user-images.githubusercontent.com/6729780/59587952-600b3f00-90de-11e9-9801-d4c7664aaa84.png)

or by using the button at the top of the Notebook

![image](https://user-images.githubusercontent.com/6729780/59588101-c001e580-90de-11e9-8f86-f6b522c69322.png)

Either of these creates a Code Block. You can enter your T-SQL code in the block

![image](https://user-images.githubusercontent.com/6729780/59588323-3dc5f100-90df-11e9-85cf-9b9d5ae0c877.png)

You can set a connection at the top of the notebook. It defaults to the first instance that you have connected to in Azure Data Studio

![image](https://user-images.githubusercontent.com/6729780/59588669-0c99f080-90e0-11e9-95a0-95710f67b3b9.png)

You can click the play button or F5 to run the code

![image](https://user-images.githubusercontent.com/6729780/59588515-aca34a00-90df-11e9-9c76-6b9075ceca45.png)

To change database you will `USE [DatabaseName]`

In [1]:
SELECT @@VERSION AS SQLVersion

SQLVersion
Microsoft SQL Server 2017 (RTM-CU11) (KB4462262) - 14.0.3038.14 (X64) Sep 14 2018 13:53:44 Copyright (C) 2017 Microsoft Corporation Developer Edition (64-bit) on Linux (Ubuntu 16.04.5 LTS)

In [2]:
USE Northwind
GO

SELECT 
GetDate(),
c.CategoryName,
  (select sum(val)
   from (SELECT TOP 5 od2.UnitPrice*od2.Quantity as val
         FROM [Order Details] od2, Products p2
         WHERE od2.ProductID = p2.ProductID
         AND c.CategoryID = p2.CategoryID
         ORDER BY 1 DESC
        ) t
  ) AS "5 top orders in 1997"
FROM [Order Details] od, Products p, Categories c, Orders o 
WHERE od.ProductID = p. ProductID
AND p.CategoryID = c.CategoryID
AND od.OrderID = o.OrderID
AND YEAR(o.OrderDate) = 1997
GROUP BY c.CategoryName, c.CategoryId

(No column name),CategoryName,5 top orders in 1997
2020-01-31 21:51:31.647,Beverages,63240.0000
2020-01-31 21:51:31.647,Condiments,12989.5000
2020-01-31 21:51:31.647,Confections,19379.0000
2020-01-31 21:51:31.647,Dairy Products,21830.0000
2020-01-31 21:51:31.647,Grains/Cereals,13822.5000
2020-01-31 21:51:31.647,Meat/Poultry,35899.1000
2020-01-31 21:51:31.647,Produce,17638.0000
2020-01-31 21:51:31.647,Seafood,13082.5000

# Results

The results are saved with the notebook. This means that you can send the notebook to your clients, give it to your off-site engineers or first line support and you will then know *exactly* which queries they ran and the results of that query. So you can easily create runbooks for certain scenarios.

You could also use notebooks for upgrades or migrations and have a recorded timeline of what happened.

That would also be good for incident resolution - Let your mind go wild :-)